@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

:root {
  --background-dark: rgb(14, 14, 14);
}

body {
  background-color: var(--background-dark);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-smooth: always;
}



ul {
  font-family: 'Inter', sans-serif;
}

.social_icon {
  font-size: 3.5em;
  cursor: pointer;
}

.info_header {
  font-family: 'Inter', sans-serif;
}